# Ignore gadmzips/ output created by getshapefile.py
gadmzips/
*.sublime-workspace
*.pyc

# Ignore any Excel files or TopoJSON files
*.xlsx
*.xlsm
*.json

# Ignore CSV files -- created by shopify.py for product templates
*.csv
