# Ignore gadmzips/ output created by getshapefile.py
gadmzips/
*.pyc

# Ignore any Excel files, images or TopoJSON files
*.xls*
*.png
*.json

# Ignore CSV files -- created by shopify.py for product templates
*.csv

# Ignore local TODO files
TODO
